{% extends 'base.html.twig' %}

{% block body %}
    <h1>Items list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Signature</th>
                <th>Status</th>
                <th>Lastaction</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td><a href="{{ path('admin_item_show', { 'id': item.id }) }}">{{ item.id }}</a></td>
                <td>{{ item.signature }}</td>
                <td>{{ item.status }}</td>
                <td>{% if item.lastAction %}{{ item.lastAction|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_item_show', { 'id': item.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_item_edit', { 'id': item.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_item_new') }}">Create a new item</a>
        </li>
    </ul>
{% endblock %}
